<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up Here</title>
    <link rel="icon" href="./images/logo.png">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body class="register-body">

    <%- include('../layout/nav') %>  

    <section class="registration">
        <div class="register-form" method="post">
            <h1>Signup <span>Here</span></h1>
            <form  method="post">

            <input type="text" name="name" placeholder="Name" id="name" required>
            <input type="email" name="email" placeholder="Email-Id" id="" required>
            <input type="text" name="password" placeholder="password" required>
            <br><br>
            <input type="submit" value="Submit" class="submitbtn">

        </form>
        </div>
    </section>

<!-- Footer -->

<section class="footer">
    <div class="foot">
        <div class="footer-content">
            
            <div class="footlinks">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="./register">Register</a></li>
                    <li><a href="./about">About</a></li>
                    <li><a href="./contact">Contact</a></li>
                </ul>
            </div>

            <div class="footlinks">
                <h4>Connect</h4>
                <div class="social">
                    <a href="#" target="_blank"><i class='bx bxl-facebook'></i></a>
                    <a href="#" target="_blank"><i class='bx bxl-instagram' ></i></a>
                    <a href="#" target="_blank"><i class='bx bxl-twitter' ></i></a>
                    <a href="#" target="_blank"><i class='bx bxl-linkedin' ></i></a>
                    <a href="#" target="_blank"><i class='bx bxl-youtube' ></i></a>
                    <a href="#" target="_blank"><i class='bx bxl-wordpress' ></i></a>
                    <a href="#" target="_blank"><i class='bx bxl-github'></i></a>
                </div>
            </div>
            
        </div>
    </div>

    <div class="end">
        <p>Copyright © 2023 Firstflight Travels All Rights Reserved.<br>Website developed by: Mastan</p>
    </div>
</section>


</body>
</html>