
<!-- <div class="menu">
    <div class="container flex">
      
      <div class="mobile-btn">
        <ion-icon name="grid"></ion-icon>
      </div>
      <div class="logo"><a href="/"><img src="./images/logo.png" alt=""></a></div>
      <ul class="nav">
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"><a href="/locations">Locations</a></li>

        <li class="nav-item"><a href="/about">About</a></li>
        <li class="nav-item"><a href="/contact">Contact</a></li>
        <li class="nav-item"><a href="/register">Register</a></li>
      </ul>
    </div>
</div> -->


<nav>
  <img src="./images/logo.png" class="logo" alt="Logo" title="Fly The World">
  
  <ul class="navbar">
      <li>
          <a href="/">Home</a>
          <a href="/locations">Locations</a>
          <a href="/about">About</a>
          <a href="/contact">Contact</a>
          <a href="/register">Register</a>
      </li>
  </ul>
</nav>